.navbar.navbar-expand-lg.navbar-dark{background: #344E41;}
.row-section{float:left; width:100%; background: #DAD7CD; min-height: 100vh; /* fallback for old browsers */
}
.row-section h2{float:left; width:100%; color:#344E41; margin-bottom:30px; font-size: 14px;}
.row-section h2 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px;font-weight:700;}
.row-section h2 a{color:#d2abce;}
.row-section .col-md-3{background:#fff; padding:20px; margin-bottom:50px; margin-left: 1vw; margin-right: 1vw;}
.row-section .col-md-3 img {width: 100%;}
.row-section .col-md-3 ul{margin:0; padding:0;}
.row-section .col-md-3 ul li{list-style:none; margin-bottom:20px;}
.row-section .col-md-3 ul li:last-child{margin-bottom:0;}
.row-section .col-md-3 ul li:hover{cursor:grabbing;}
.row-section .col-md-3 .media{border:1px solid #588157; padding:5px 20px; border-radius: 5px; box-shadow:0px 2px 1px rgba(0,0,0,0.04); background:#fff;}
.row-section .media .media-left img{width:75px;}
.row-section .media .media-body p{padding: 0 15px; font-size:14px;}
.row-section .media .media-body h4 {color: #3A5A40; font-size: 18px; font-weight: 600; margin-bottom: 0; padding-left: 14px; margin-top:12px;}
.btn-default{background:#3A5A40; color:#fff; border-radius:30px; border:none; font-size:16px;}
.fa-spin {
    margin: 0 auto;}
body {
    background-color: lightgray;
}